[Unit]
Description=Whisper Transcription Daemon (ASR)
After=network.target
Conflicts=dictee.service dictee-vosk.service

[Service]
Type=simple
EnvironmentFile=-%h/.config/dictee.conf
ExecStart=/usr/bin/transcribe-daemon-whisper
Restart=on-failure
RestartSec=5
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=CUDA_VISIBLE_DEVICES=0

[Install]
WantedBy=default.target
